.project-filter--header {
  margin-left: 0.5em;
}

.btn-wrapper {
  margin-left: 0.5em;
}

.filter-btn {
  margin: 5px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.project {
  width: 90%;
}

.demo-wrapper {
  left: 10%;
}
